<h1>Band Tidbits</h1>

<p>
  <strong>Name:</strong>
    <%= @search.response["artists"].first["strArtist"] %>
</p>

<p>
  <strong>Biography:</strong>
    <%= @search.response["artists"].first["strBiographyEN"] %>
</p>


<%= link_to 'Back', new_search_path %>
